/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*==================== VARIABLES CSS ====================*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  /* Change favorite color */
  --hue-color: 250; /*Purple 250 - Green 142 - Blue  230 -Pink 340, red : */

  /* HSL color mode */
  --first-color: hsl(var(--hue-color), 69%, 61%);
  --first-color-second: hsl(var(--hue-color), 69%, 61%);
  --first-color-alt: hsl(var(--hue-color), 57%, 53%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --input-color: hsl(var(--hue-color), 70%, 96%);
  --body-color: hsl(var(--hue-color), 60%, 99%);
  --container-color: #ffffff;
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);
  --placeholder-color: #b1b1b1;
  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*========== Variables Dark theme ==========*/

/*========== Button Dark/Light ==========*/

/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section,
header {
  max-width: 1320px;
  margin: 0 auto;
  padding: 1.5rem 1rem 1.5rem; /* top left-right bottom */
  overflow: hidden;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

.section__title,
.section__subtitle {
  text-align: center;
}
.btn-jetvista {
  background-color: var(--first-color);
  color: white;
}

.btn-jetvista:hover {
  background-color: var(--first-color-alt);
  color: white;
}

/*==================== LAYOUT ====================*/
/*==================== Header ====================*/
.header {
  width: 100%;
  margin: 0 auto;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

/*==================== NAV ====================*/
.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__title {
  font-weight: bold;
}
.header__subtitle {
  color: var(--first-color);
}
.nav__link {
  color: var(--first-color);
  padding-right: 2rem;
  font-size: var(--normal-font-size);
}

.icon__bar {
  display: none;
}

@media screen and (max-width: 768px) {
  /* Make the home page Responsible */

  .header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo {
    width: 2rem;
  }
  .header__subtitle {
    color: var(--first-color);
  }
  .nav__content {
    position: relative;
  }
  .icon__bar {
    display: block;
    position: absolute;
    right: 0;
    padding-left: 1rem;
  }

  .nav__list {
    display: none !important;
  }
}

/* Change background header */

/*==================== HOME ====================*/

.home {
  width: 100%;
}
.home__container{
 position: relative;
 width: 100%;
}

.img-overlay{
  position: absolute;
  z-index: 999;
  left: 50%;
  top: 40%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.img-overlay > h1{
  color: #FFF;
  text-align: center;
  font-size: 3rem;
  font-weight: 800; 
  margin-bottom: 1rem;
  
  }
.img-overlay > p{
color: #FFF;
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 26px; 

}
.home__overlay{
  position: relative;
}
.home__overlay > .home__img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home__overlay::after{
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  border-radius: 1rem;
  background: rgba(0, 0, 0, 0.4);
}
@media screen and (max-width: 1024px) {
  .img-overlay{
    left: 50%;
    top: 30%;
    transform: translate(-50%, -60%);
  }
  
  .img-overlay > h1{
    font-size: 2.2rem;
    margin-bottom: 1rem;
    
    }
  .img-overlay > p{
  font-size: 16px;
  line-height: 26px; 
  
  }
}
@media screen and (max-width: 864px) {
  .img-overlay{
    left: 50%;
    top: 30%;
    width: 80%;
    transform: translate(-50%, -60%);
  }
  
  .img-overlay > h1{
    font-size: 2rem;
    margin-bottom: 1rem;
    width: 100%;
    
    }
  .img-overlay > p{
  font-size: 16px;
  line-height: 26px; 
  width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .img-overlay{
    left: 50%;
    top: 20%;
    text-align: center;
    transform: translate(-50%, -50%);
  }
  .home__overlay > .home__img{
    width: 100%;
    height: 460px;
  }
  .img-overlay > h1{
    font-size: 1.6rem;
    margin-bottom: 1rem;
    width: 100%;
    
    }
    .img-overlay > p{
      font-size: 14px;
      line-height: 26px; 
      width: 100%;
      }
}
/* =============Search Bar css ============= */
.location__search{
  transform: translateY(-180%); 
  width: 70%;
}
.search__from-wrap{
  background-color: rgba(255, 255, 255, 0.4);
  padding: 1.5rem;
  border-radius: 1rem;
}
.form{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.form-control{
width: 100%;
}
.form > input, select {
  padding: 0.6rem;
  outline: none;
  border: none;
  font-size: 1rem;
  border-radius: .5rem;
  color: var(--placeholder-color);
}
@media screen and (max-width: 992px) {
  .location__search{
    transform: translateY(-160%); 
    width: 80%;
  }
}
@media screen and (max-width: 864px) {
  .location__search{
    transform: translateY(-140%); 
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  /* Make the home page Responsible */
  .location__search{
    width: 80%;
    transform: translateY(-120%);
  }
  .form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}
/*==================== About section  ====================*/
.about{
margin-top: -6rem;
} 
.about__content {
flex-basis: 50%;
}
.about__content > .about__title {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 24px; 
  margin-bottom: 2rem;
}

.about__subtitle {
  font-weight: 400;
  line-height: 24px; 
  margin-bottom: 1rem;
}
.about__content .about__list {
  margin-left: 2rem;
  margin-bottom: 1rem;
}
.about__content .about__list > .about__list-item {
  list-style: disc;
  font-weight: 400;
  line-height: 24px; 
  padding: 0.5rem;
}

.about__img img {
  width: 100%;
  object-fit: contain;
}
/*======== MEDIA QUERIES ===========*/
@media screen and (max-width: 992px) {
  .about{
    margin-top: -8rem;
    } 
  .about {
    display: flex !important;
    flex-direction: column;
    justify-content: center !important;
    align-items: center;
  }
  .about__content {
    width: 90%;
  }
  .about__content > .about__title {
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 1rem;
  }

  .about__subtitle {
    font-weight: 400;
    font-size: small;
    margin-bottom: 1rem;
  }
  .about__content .about__list {
    margin-left: 2rem;
    margin-bottom: 1rem;
  }
  .about__content .about__list > .about__list-item {
    list-style: disc;
    padding: 0.5rem;
  }
  .about__img {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center;
    width: 100%;
  }
  .about__img img {
    width: 100%;
    height: 600px;
    object-fit: fill;
  }
}
@media screen and (max-width: 768px) {
  /* Make the home page Responsible */
  .about{
    margin-top: -18rem;
    } 
  .about {
    display: flex !important;
    flex-direction: column;
    justify-content: center !important;
    align-items: center;
  }
  .about__content {
    width: 90%;
  }
  .about__content > .about__title {
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 1rem;
  }

  .about__subtitle {
    font-weight: 400;
    font-size: small;
    margin-bottom: 1rem;
  }
  .about__content .about__list {
    margin-left: 2rem;
    margin-bottom: 1rem;
  }
  .about__content .about__list > .about__list-item {
    list-style: disc;
    font-size: small;
    padding: 0.5rem;
  }
  .about__img {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center;
    width: 100%;
  }
  .about__img img {
    width: 100%;
  }
}

/*==================== Destination ====================*/

.destination__img {
margin-top: 1.2rem;
}
.destination__img > .col{
  position: relative;
  cursor: pointer;
}
.destination__img > .col:hover img{
 opacity: 0.8;
}
.destination__img > .col > .place__name{
position: absolute;
z-index: 99;
font-size: 1.6rem;
font-style: normal;
font-weight: 800;
color: var(--body-color);
display: flex;
justify-content: center;
align-items: center;
top: 45%;
left: 35%;
}

.col img{
  width: 100%;
  object-fit: cover;
}

.place__two > .place__imgs{
  height: 300px;
}
.place__two > .place__imgs img{
  height: 300px;
  object-fit: fill;
  border-radius: 1rem;
}

.place__three > .place__imgs{
  height: 300px;
}
.place__three > .place__imgs img{
  height: 300px;
  object-fit: fill;
  border-radius: 1rem;
}

@media screen and (max-width: 992px) {
  .place__imgs{
    flex-basis: 50%!important;
  }
  .place__imgs > .north{
    top: 45%;
    left: 20% !important;
  }
  
}
@media screen and (max-width: 768px) {
  /* Make the home page Responsible */
  .destination__img {
    display: flex;
    flex-direction: column;
    justify-content: center!important;
    align-items: center!important;
    border-radius: 1rem;
    }
    .destination__img > .col > .place__name{
      top: 45%;
      left: 40%!important;
    }
    .destination__header  > .destination__title{
  
      font-size: var(--h1-font-size);
   }
    .destination__header  > .destination__desc{
      width: 80%;
      font-size: var(--normal-font-size);
   }
   
}
@media screen and (max-width: 600px) {
  /* Make the home page Responsible */

    .destination__header  > .destination__desc{
       width: 100%;
       font-size: var(--normal-font-size);
    }
    
}
/*==================== Services ====================*/

.services__header {
  width: 60%;
  margin: 0 auto;
}
.services__title {
  text-align: center;
}
.services__desc {
  text-align: center;
}
.services__content {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}
.services__content-two {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.service {
  width: 80%;
  height: 280px;
  padding: 2rem;
}
.service__one {
  border-radius: 1rem;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}
.service__two {
  border-radius: 1rem;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}
.service__three {
  width: 60%;
  border-radius: 1rem;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
}
/*======== MEDIA QUERIES ==========*/

@media screen and (max-width: 768px) {
  /* Make the home page Responsible */
  .services__header {
    width: 100%;
    margin: 0 auto;
  }
  .services__content {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .services__content-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
  .service {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  /* Make the home page Responsible */
  .services__header {
    width: 100%;
    margin: 0 auto;
  }
  .services__content {
    margin-top: 2rem;
    gap: 1rem;
  }
  .services__content-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
  .service {
    width: 100%;
  }
}
/*==================== Deals CSS ====================*/

.deals__container{
  position: relative;
  width: 100%;
 }
 
 .deals__content{
  position: absolute;
   z-index: 999;
   left: 30%;
   top: 40%;
   text-align: center;
 }
 
 .deals__content > h1{
   color: #000000;
   text-align: center;
   font-size: 3rem;
   font-weight: 800; 
   margin-bottom: 1rem;
   
   }
 .deals__content > p{
 color: #000000;
 text-align: center;
 font-size: 16px;
 font-weight: 400;
 line-height: 26px; 
 
 }

 .deals__overlay::after{
   content: " ";
   position: absolute;
   top: 20%;
   left: 30%;
   width: 60%;
   height: 60%;
   border-radius: 1rem;
   background: rgba(255, 252, 252, 0.6);
 }
/*==================== Testimonial ====================*/
.testimonial__content {
  width: 60%;
}
.testimonial__content > .testimonial__title {
  font-size: 2.4rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.testimonial__subtitle {
  font-weight: 400;
  margin-bottom: 1rem;
}
.testimonial__content .testimonial__list {
  margin-left: 2rem;
  margin-bottom: 1rem;
}
.testimonial__content .testimonial__list > .testimonial__list-item {
  list-style: disc;
  padding: 0.5rem;
}

.testimonial__video{
 width: 400px;
}
.testimonial__video video{
 width: 100%;
 }

/*======== MEDIA QUERIES ===========*/
@media screen and (max-width: 992px) {
  .testimonial__content > .testimonial__title {
    font-size: 1.5rem;
    font-weight: 800;
  }
  .testimonial__content {
    flex-basis: 40% !important;
  }
  .testimonial__subtitle {
    font-weight: 400;
    font-size: small;
  }
  .testimonial__content .testimonial__list {
    margin-left: 1rem;
    font-size: small;
    padding: 0.2rem;
  }
  .testimonial__video{
    flex-basis: 60% !important;
   }
   .testimonial__video video{
    width: 100%;
    }
}
@media screen and (max-width: 768px) {
  /* Make the home page Responsible */
  .testimonial {
    display: flex !important;
    flex-direction: column;
    justify-content: center !important;
    align-items: center;
  }
  .testimonial__content {
    width: 90%;
  }
  .testimonial__content > .testimonial__title {
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 1rem;
  }

  .testimonial__subtitle {
    font-weight: 400;
    font-size: small;
    margin-bottom: 1rem;
  }
  .testimonial__content .testimonial__list {
    margin-left: 2rem;
    margin-bottom: 1rem;
  }
  .testimonial__content .testimonial__list > .testimonial__list-item {
    list-style: disc;
    font-size: small;
    padding: 0.5rem;
  }
  .testimonial__video{
    width: 100%
   }
   .testimonial__video video{
    width: 100%;
    }
  }



/*==================== NewsLetter ====================*/
.newsletter__content {
  padding: 4rem;
  flex: 1;
  border-radius: 1rem;
  border: 1px solid var(--first-color);
}
.newsletter__title {
  font-size: 1.6rem;
  font-weight: 800;
  margin-bottom: 1rem;
}
.newsletter__subtitle {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}
.content {
  margin-top: 0.8rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 0 2rem;
}

.input {
  padding: 0.5rem 0 0.5rem 0.5rem;
  line-height: 2;
  width: 100%;
  border: 1px solid #d9d9d9;
  border-radius: 0.5rem;
  margin-bottom: 0.2rem;
}

::-webkit-input-placeholder {
  color: var(--placeholder-color);
}

:-ms-input-placeholder {
  color: var(--placeholder-color);
}

::-ms-input-placeholder {
  color: var(--placeholder-color);
}

::placeholder {
  color: var(--placeholder-color);
}

.subscribe {
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.9rem 0;
  display: inline-block;
  border: none;
  border-radius: 0.5em;
  width: 100%;
  cursor: pointer;
}
.news__img {
  position: relative;
}
.news__img img {
  width: 100%;
  object-fit: cover;
}
.offer__card {
  position: absolute;
  width: 260px;
  height: 100px;
  background: var(--first-color);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  right: 0.3rem;
  bottom: 3.1rem;
  transform: rotate(-25deg);
}
.offer__card-name {
  color: var(--body-color);
}
.offer__card-desc {
  color: var(--body-color);
}
@media screen and (max-width: 1178px) {
  .newsletter__content {
    padding: 2rem;
    border-radius: 1rem;
    flex-basis: 50%;
    border: 1px solid var(--first-color);
  }
  .content {
    margin-top: 0.8rem;
    display: -ms-grid;
    display: grid;
    place-items: center;
    padding: 0 1rem;
  }
  .news__img {
    flex-basis: 50%;
  }
  .news__img img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
  }
}
@media screen and (max-width: 992px) {
  .offer__card {
    width: 200px;
    height: 80px;
    right: 0.2rem;
    bottom: 2.8rem;
    transform: rotate(-30deg);
  }
}
@media screen and (max-width: 768px) {
  /* Make the home page Responsible */
  .contact {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .offer__card {
    width: 200px;
    height: 80px;
    right: 0.2rem;
    bottom: 2.8rem;
    transform: rotate(-30deg);
  }
}
/*==================== FOOTER ====================*/

.footer {
  padding: 2rem;
  background: rgba(19, 19, 24, 0.05);
}
.footer__desc {
  font-size: var(--normal-font-size);
  width: 40rem;
  padding: 1rem;
  text-align: center;
}

/*========== SCROLL UP ==========*/

/* Show scroll */

/*========== SCROLL BAR ==========*/
